<div>
<nav class="navbar navbar-dark navbar-expand-md fixed-top">
    <div class="container">
      <a href="https://argentinaprograma.inti.gob.ar/" target="blank" class="navbar-brand">
        <img src="../../../assets/images/argentina_programa_logo.png" 
        alt="Argentina Programa" width="130" height="auto"></a>

      <button type="button" class="navbar-toggler" data-toggle="collapse" 
      data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false"
      aria-label="Desplegar menú">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collpase navbar-collapse d-flex justify-content-end" id="menu-principal">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item p-3"><a href="#" class="nav-link" >
            <img src="../../../assets/images/github_logo.png" alt="Github" width="40" height="auto" class="rounded">
          </a></li>
          <li class="nav-item p-3"> <a class="nav-link" href="#">
            <img src="../../../assets/images/linkedin_logo.png" alt="LinkedIn" width="40" height="auto" class="rounded">
          </a></li>
          <li class="nav-item p-3"><a href="#" type="button" class="nav-link btn btn-lg btn-dark " id="login">
            Login </a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>
<div>
    <app-banner></app-banner>
</div>
