<div class="container">
    <div class="row">
        <h2>Proyectos</h2>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <img src="../../../assets/images/linkedin_logo.png" alt="" style="width: 40%;">
        </div>
        <div class="col-9">
            <div class="row"><h4>Titulo</h4></div>
            <div class="row"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consequatur atque officiis dolor sapiente labore doloremque cum excepturi, natus perspiciatis, dolorum, esse aliquid magni recusandae architecto cupiditate. Est, architecto minima.</p></div>
        </div>
    </div>
</div>
