<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-5 p-2d d-flex align-items-center justify-content-center ">
      <div class="col-xs-12 col-s-3 col-md-5 p-3">
        <img src="../../../assets/images/diego-acercade.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-xs-12 col-s-9 col-md-7">
        <div class="card-body">
          <h3 class="card-title">Diego Ruggeri</h3>
          <h5>Full Stack Developer Jr.</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum vel explicabo sequi consequatur quas impedit ea, exercitationem, autem sunt, eveniet ipsam voluptatum similique ipsum excepturi. Voluptatibus explicabo a earum rerum!</p>
        </div>
      </div>
    </div>
  </div>
